* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin-left: 250px;
}

.content0 {
  margin-left: 0px;
}

.NotLoggedNav {
  display: none !important;
}

.navbar {
  background: #efefef;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  border-right: 0.5px solid #eeeeee;
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  grid-template-rows:  repeat(6, 1fr);
  align-items: center;
  text-align: center;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.navbar-toggled {
  background: #faf5e6;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  display: grid;
  align-items: center;
  text-align: center;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.navlink {
  font-family: "fontello", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
}

.chosen {
  background: #c2c0c0;
}

.menu-icon, .more {
  display: none !important;
}

.menu-icon-toggled {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}


@media only screen and (min-width:801px) {
  .navbar {
    grid-template-rows: auto;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .navlink {
    height: 100%;
    width: 100%;
  }
  .menu-icon {
    display: inherit !important;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
}

@media only screen and (min-width:1024px) {
  .navbar {
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
}

@media only screen and (max-width:800px) {
  .navbar {
    border-top: 0.5px solid #eeeeee;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(4, 1fr);
  }
  .navbar-toggled {
    border-top: 0.5px solid #eeeeee;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(4, 1fr);
  }
  .navlink {
    height: 90px;
  }
  .more {
    display: inherit !important;
  }
  .content {
    margin-left: 10px;
  }
}

@media only screen and (max-width:370px) {
  .navbar {
    border-top: 0.5px solid #eeeeee;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr);
  }
  .navbar-toggled {
    border-top: 0.5px solid #eeeeee;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr);
  }
  .navlink {
    height: 90px;
  }
}