.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.category {
    text-align: center;
    line-height: 20vh;
    height: 20vh;
    color: black;
    background: lightgreen;
    text-decoration: none;
    text-underline-mode: none;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 3px;
}